<ion-header>
  <ion-toolbar>
    <ion-title>sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <ion-list>
    <ion-item>
      <ion-label position="stack">Email</ion-label>
      <ion-input type="email" placeHolder="user@domain.com" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stack">Password</ion-label>
      <ion-input type="Password" placeHolder="password" name="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" color="secondary" (click)="signIn()">sign in</ion-button>

    <ion-item>
      <ion-label>Dont have an account yet ?</ion-label>
    </ion-item>
    <ion-button expand="block" type="submit" color="primary" (click)="signUp()">sign up</ion-button>

  </ion-list>
</form>
</ion-content>
