<ion-header>
  <ion-toolbar>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" name="email" placeholder="email@domain.com"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" name="password" formControlName="password" placeholder="6 char mini"></ion-input>
        </ion-item>

        <ion-button [disabled]="!signUpForm.valid" type="submit" color="tertiary" expand="block" (click)="submit()">Sign up</ion-button>
    </ion-list>
  </form>

</ion-content>
